src/META-INF/wsdl/jente-ws_80/jente/JFinanziariaServices.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://infor.arezzo.it/jente/jfinanziaria/services" version="1.0">

  <xs:element xmlns:ns1="http://infor.arezzo.it/jente/jfinanziaria/services" name="gestioneProposte" type="ns1:gestioneProposte"></xs:element>

  <xs:complexType name="gestioneProposte">
    <xs:sequence>
      <xs:element xmlns:ns2="http://infor.arezzo.it/jente/jfinanziaria/services" name="richiesta" type="ns2:richiestaGestioneProposte" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="richiestaGestioneProposte">
    <xs:complexContent>
      <xs:extension xmlns:ns3="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns3:richiestaGenerica">
        <xs:sequence>
          <xs:element name="richiestaInserimentoBozzaOAtto" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="bozzaOAtto" type="ns3:bozzaOAtto" minOccurs="0"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="richiestaModificaBozzaOAtto" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="bozzaOAttoModificato" type="ns3:bozzaOAtto" minOccurs="0"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="richiestaCancellazioneBozzaOAtto" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="chiaveBozzaOAtto" type="ns3:chiaveBozzaOAtto" minOccurs="0"></xs:element>
                <xs:element name="cancellaProvvedimento" type="xs:string" minOccurs="0"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="richiestaTrasformazioneBozzaInAtto" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="bozzaInAtto" type="ns3:bozzaInAtto" minOccurs="0"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="richiestaElencoMovimenti" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="chiaveBozzaOAtto" type="ns3:chiaveBozzaOAtto" minOccurs="0"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="richiestaEsisteBozzaOAtto" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="chiaveBozzaOAtto" type="ns3:chiaveBozzaOAtto" minOccurs="0"></xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="richiestaGenerica">
    <xs:sequence>
      <xs:element name="userName" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="richiestaInserimentoBozzaOAtto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:ns4="http://infor.arezzo.it/jente/jfinanziaria/services" name="bozzaOAtto" type="ns4:bozzaOAtto" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="bozzaOAtto">
    <xs:sequence>
      <xs:element name="bozzaOAtto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="organoSettore" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="anno" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="data" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataEsecutivita" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoEsecutivita" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importo" type="xs:double" minOccurs="0"></xs:element>
      <xs:element name="oggetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoVariazioni" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoImpegni" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoAccertamenti" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoLiquidazioni" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoAssegnazioni" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="responsabileProcedimento" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="richiestaModificaBozzaOAtto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:ns5="http://infor.arezzo.it/jente/jfinanziaria/services" name="bozzaOAttoModificato" type="ns5:bozzaOAtto" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="richiestaCancellazioneBozzaOAtto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:ns6="http://infor.arezzo.it/jente/jfinanziaria/services" name="chiaveBozzaOAtto" type="ns6:chiaveBozzaOAtto" minOccurs="0"></xs:element>
        <xs:element name="cancellaProvvedimento" type="xs:string" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="chiaveBozzaOAtto">
    <xs:sequence>
      <xs:element name="bozzaOAtto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="organoSettore" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="anno" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="richiestaTrasformazioneBozzaInAtto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:ns7="http://infor.arezzo.it/jente/jfinanziaria/services" name="bozzaInAtto" type="ns7:bozzaInAtto" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="bozzaInAtto">
    <xs:sequence>
      <xs:element name="organoSettoreBozza" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="annoBozza" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroBozza" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="organoSettoreAtto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="annoAtto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroAtto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataAtto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataEsecutivita" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoEsecutivita" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importo" type="xs:double" minOccurs="0"></xs:element>
      <xs:element name="oggetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoVariazioni" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoImpegni" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoAccertamenti" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoLiquidazioni" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="validoAssegnazioni" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="responsabileProcedimento" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="richiestaElencoMovimenti">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:ns8="http://infor.arezzo.it/jente/jfinanziaria/services" name="chiaveBozzaOAtto" type="ns8:chiaveBozzaOAtto" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="richiestaEsisteBozzaOAtto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:ns9="http://infor.arezzo.it/jente/jfinanziaria/services" name="chiaveBozzaOAtto" type="ns9:chiaveBozzaOAtto" minOccurs="0"></xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element xmlns:ns10="http://infor.arezzo.it/jente/jfinanziaria/services" name="gestioneProposteResponse" type="ns10:gestioneProposteResponse"></xs:element>

  <xs:complexType name="gestioneProposteResponse">
    <xs:sequence>
      <xs:element xmlns:ns11="http://infor.arezzo.it/jente/jfinanziaria/services" name="return" type="ns11:rispostaGestioneProposte" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="rispostaGestioneProposte">
    <xs:complexContent>
      <xs:extension xmlns:ns12="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns12:rispostaGenerica">
        <xs:sequence>
          <xs:element name="rispostaInserimentoBozzaOAtto" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="ns12:rispostaGenerica">
                  <xs:sequence></xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="rispostaModificaBozzaOAtto" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="ns12:rispostaGenerica">
                  <xs:sequence></xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="rispostaCancellazioneBozzaOAtto" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="ns12:rispostaGenerica">
                  <xs:sequence></xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="rispostaTrasformazioneBozzaInAtto" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="ns12:rispostaGenerica">
                  <xs:sequence></xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="rispostaElencoMovimenti" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="ns12:rispostaGenerica">
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="movimento" type="ns12:movimento" minOccurs="0"></xs:element>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="rispostaEsisteBozzaOAtto" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="ns12:rispostaGenerica">
                  <xs:sequence>
                    <xs:element name="esiste" type="xs:boolean" minOccurs="0"></xs:element>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
          <xs:element name="rispostaElencoMovimenti2" minOccurs="0">
            <xs:complexType>
              <xs:complexContent>
                <xs:extension base="ns12:rispostaGenerica">
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="liquidazione" type="ns12:FNLiquidazioniStampaVelocity" minOccurs="0"></xs:element>
                  </xs:sequence>
                </xs:extension>
              </xs:complexContent>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rispostaGenerica">
    <xs:sequence>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ok" type="xs:boolean" minOccurs="0"></xs:element>
      <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="rispostaInserimentoBozzaOAtto">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension xmlns:ns13="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns13:rispostaGenerica">
          <xs:sequence></xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="rispostaModificaBozzaOAtto">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension xmlns:ns14="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns14:rispostaGenerica">
          <xs:sequence></xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="rispostaCancellazioneBozzaOAtto">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension xmlns:ns15="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns15:rispostaGenerica">
          <xs:sequence></xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="rispostaTrasformazioneBozzaInAtto">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension xmlns:ns16="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns16:rispostaGenerica">
          <xs:sequence></xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="rispostaElencoMovimenti">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension xmlns:ns17="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns17:rispostaGenerica">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="movimento" type="ns17:movimento" minOccurs="0"></xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="movimento">
    <xs:sequence>
      <xs:element xmlns:ns18="http://infor.arezzo.it/jente/jfinanziaria/services" name="movImpAcce" type="ns18:impAcce" minOccurs="0"></xs:element>
      <xs:element xmlns:ns19="http://infor.arezzo.it/jente/jfinanziaria/services" name="liquidazione" type="ns19:liquidazione" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="impAcce">
    <xs:sequence>
      <xs:element name="archivio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoMovimento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="esercizio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="eu" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="capitolo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="articolo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descCapitolo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="annoImpacc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroImpacc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="subImpacc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descImpacc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="oggetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="respProc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descRespProc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipologiaMovimento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codiceObiettivo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descObiettivo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="causaleObiettivo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descCausaleObiettivo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="voceEconomica" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descVoceEconomica" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="centroCosto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descCentroCosto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codDebBen" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descCodDebBen" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="naturaCoge" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descNaturaCoge" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codiceCup" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codiceCig" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="cespite" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descCespite" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codFondo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descFondo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codTipoFinanz" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descTipoFinanz" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="siope" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descSiope" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="mutuo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descMutuo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="perfezionamento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descPerfezionamento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="vincolo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descVincolo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="programma" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descProgramma" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="progetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descProgetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codMeccanografico" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codLibroIva" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descLibroIva" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="liquidazione">
    <xs:sequence>
      <xs:element name="anno" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="data" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="oggetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element xmlns:ns20="http://infor.arezzo.it/jente/jfinanziaria/services" maxOccurs="unbounded" name="documento" type="ns20:documento" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="documento">
    <xs:sequence>
      <xs:element name="soggettoCod" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="soggettoNome" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="anno" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="data" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="oggetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element xmlns:ns21="http://infor.arezzo.it/jente/jfinanziaria/services" name="impegno" type="ns21:impegnoDoc" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="impegnoDoc">
    <xs:sequence>
      <xs:element name="anno" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="sub" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="oggetto" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="rispostaEsisteBozzaOAtto">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension xmlns:ns22="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns22:rispostaGenerica">
          <xs:sequence>
            <xs:element name="esiste" type="xs:boolean" minOccurs="0"></xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="rispostaElencoMovimenti2">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension xmlns:ns23="http://infor.arezzo.it/jente/jfinanziaria/services" base="ns23:rispostaGenerica">
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="liquidazione" type="ns23:FNLiquidazioniStampaVelocity" minOccurs="0"></xs:element>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="FNLiquidazioniStampaVelocity">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="idLiquidazione" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="annoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="esercizio" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codRproc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descRProc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nomeRProc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="nomeRProc2" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dirigente" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="organoAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="annoAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataEsecAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descLiquidazione" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="totaleLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroElenco" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroRighe" type="xs:string" minOccurs="0"></xs:element>
      <xs:element xmlns:ns24="http://infor.arezzo.it/jente/jfinanziaria/services" maxOccurs="unbounded" name="listaCapitoli" type="ns24:FNLiquidazioniRigaCapit" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FNLiquidazioniRigaCapit">
    <xs:sequence>
      <xs:element name="capitolo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="articolo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descr" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="meccanografico" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importoTotaleCapitolo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="assestatoCapit" type="xs:string" minOccurs="0"></xs:element>
      <xs:element xmlns:ns25="http://infor.arezzo.it/jente/jfinanziaria/services" maxOccurs="unbounded" name="listaImpegni" type="ns25:FNLiquidazioniRigaImp" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FNLiquidazioniRigaImp">
    <xs:sequence>
      <xs:element name="anno" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numero" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="sub" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="impFormattato" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descr" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoProvImp" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="organoProvImp" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="annoProvImp" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroProvImp" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataProvImp" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataEsecProvImp" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importoTotaleImpegno" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importoDisponibileImp" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="ImportoAssestatoImp" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataEsecAttoImpegno" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codiceCUP" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codiceCIG" type="xs:string" minOccurs="0"></xs:element>
      <xs:element xmlns:ns26="http://infor.arezzo.it/jente/jfinanziaria/services" maxOccurs="unbounded" name="listaSogg" type="ns26:FNLiquidazioniRigaSogg" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FNLiquidazioniRigaSogg">
    <xs:sequence>
      <xs:element name="soggetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descr" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="codiceFisc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="pIva" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="modoPaga" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importoTotSogg" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="notePagamento" type="xs:string" minOccurs="0"></xs:element>
      <xs:element xmlns:ns27="http://infor.arezzo.it/jente/jfinanziaria/services" maxOccurs="unbounded" name="listaDocumenti" type="ns27:FNLiquidazioniRigaDoc" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FNLiquidazioniRigaDoc">
    <xs:sequence>
      <xs:element name="annoDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="descrTipoDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="oggetto" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importo" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataRegistrDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataScadDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="importoTotaleDoc" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroRata" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="tipoAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="organoAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="annoAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="numeroAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataAttoLiq" type="xs:string" minOccurs="0"></xs:element>
      <xs:element name="dataEsecAttoLiq" type="xs:string" minOccurs="0"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>